@import url("https://brycemw.ca/static/css/undo-redo.css");
@import url("https://brycemw.ca/static/css/fira.css");

html, body {
    width: 100%;
    height: 100%;

    font-feature-settings: "abvs", "blws", "case", "calt", "dlig", "jalt", "kern", "lnum", "locl", "pnum", "rlig", "liga";
}

a {
    text-decoration: none;
    color: inherit;
}

#app_root {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #FFF4F7 0%, #EED6D3 100%) fixed;

    font-size: 1rem;
    font-family: "FiraGO", sans-serif;

    > .logo {
        width: 5em;
        height: 5em;
        position: absolute;
        top: 0.5em;
        right: 1em;

        filter: invert(67%) sepia(2%) saturate(2209%) hue-rotate(314deg) brightness(91%) contrast(81%);

        cursor: pointer;
        display: block;

        > div {
            display: inline-block;
            > object {
                width: 5em;
                height: 5em;
                position: relative;
                z-index: -1
            }
        }
    }

    > .Homepage {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        > .title {
            color: rgba(164, 147, 147, 1);
            font-size: 4em;
            text-transform: uppercase;

            margin: -0.25em 0;
        }
        > .subtitle {
            color: rgba(103, 89, 94, 1);
        }
        > .button {
            color: rgba(255, 244, 247, 1);
            font-size: 1.5em;
            text-align: center;

            width: 15ch;
            height: 2em;
            line-height: 2em;
            margin: 1em;

            background: #67595E;
            border-radius: 100vw;

            box-shadow: 0 0.2em 1em #A49393;
        }
    }
}
